h1{
    font-family: "Playwrite IT Moderna", serif;
   font-size: 60px;
   text-align: center;
   margin: 50px;
   padding: 20px;
  
   

    
}
h2{
    color: dimgrey;
    font-size: 30px;
    text-align:right;
    font-family: "Rock Salt";
     margin: 30px;
   
    
    

}

h3{
    font-family: "Playwrite IT Moderna", serif;
    margin: 50px;
   color: black;
    font-size: 54px;
    text-align: center;
    padding: 10px;
    
   
  

}