h5{
    text-align: center;
    margin: 16px 0px;
}

.p-obras{
    text-align: left;
}



.misobras {
    
    margin: 40px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-only;
    gap: 32px;
    
}

